/**_______________________________________________________________________________________________________________GALERIA - FEIRAS*/
.capa-galeria-feiras{
   min-height: 85vh; 
   gap: 50px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #000000;
   border-bottom: 1px #e12726 solid;   
}
.capa-galeria-feiras-animacao{
   display: flex;
}
.capa-galeria-feiras-title{
   justify-content: left;
   margin-left: 25px;
}

.galeria-feiras-geral{
   display: flex;
   padding: 1rem 10rem 10rem 10rem;
   min-height: 140vh;
   justify-content:left;
   align-items: center;
   background-color: #000000;
   justify-content: center;
   align-items: end;
}

.galeria-feiras{
   display: grid;
   padding: 10rem 10rem 10rem 10rem;
   grid-template-columns: repeat(3, 1fr);
   flex-wrap: wrap;
   background-color: #000000;
   justify-content: center;
   align-items: center;
   gap : 50px 10px;
}


.galeria-feiras img{
   width: 340px;
   height: 200px;

    clip-path: polygon(
        0 0,
        68% 0,
        74% 12%,
        100% 12%,
        100% 100%,
        0 100%
    );
   border: 2.35px solid #e12726;

   cursor: pointer;
 }


.galeria-feiras-foto{
   width: 350px; 
   display: flex;
   flex-direction: column;

}
.galeria-feiras-texto{
   color: #f4f4f5;
   font-size: 14px;
   letter-spacing: 1.5px;
   word-spacing: 1.5px;
   font-family: "Roboto Condensed", sans-serif;
   

   display: flex;
   flex-direction: column;
   margin-top: 20px;

   cursor: pointer;
}
.galeria-feiras-foto h4{
   text-align: left;
   color: #323232;
   margin-bottom: 8px;
   font-size: 14px;
   font-family: "Roboto Condensed", sans-serif;
   font-weight: 100;
}
.galeria-feiras .galeria-feiras-btn{
   border: solid 2px #e12726;
   padding: 1rem;
   background-color: transparent;
   color: #f4f4f5;
   cursor: pointer;
   font-family: "Roboto Condensed", sans-serif;
   font-size: 12px;

}
.galeria-feiras .galeria-feiras-btn:hover{
   border: solid 2px #e12726;
   background-color: #e12726;
}

.galeria-feiras-foto h3{
   color: #e12726;
   font-family: "Roboto Condensed", sans-serif;
   font-size: 14px;
   font-weight: 100;
   letter-spacing: 1px;
   margin-top: 10px;
;
}


/* RESET BÁSICO */

.orbita{
    position: absolute;
    border: 1px dashed rgba(255,255,255,0.2);
    border-radius: 50%;
    pointer-events: none;
}

.orbita-1{
    width: 400px;
    height: 400px;
}

.orbita-2{
    width: 800px;
    height: 800px;
}

.orbita-3{
    width: 1200px;
    height: 1200px;
}